<!DOCTYPE html>
<html>
  <head>
    <title>水井真希監督 映画 【ら】</title>
    <meta charset='utf-8'>
    <meta content='width=device-width initial-scale=1.0' name='viewport'>
    <meta content='水井真希 監督 映画 【ら】公式WEBサイト' name='description'>
    <meta content='水井真希 監督 映画 【ら】' name='keywords'>
    <meta content='' name='author'>
    <meta content='index,follow' name='robots'>
    <!--
    OGTAG
    ==========================================
    -->
    <!--
    <link href='http://www.hazime.org/index.php' rel='canonical'>
    <link href='https://plus.google.com/103258909747093180301' rel='author'>
    -->
    <meta content='ja_JP' property='og:locale'>
    <meta content='水井真希監督 映画 【ら】' property='og:title'>
    <meta content='水井真希 監督 映画 【ら】公式WEBサイト' property='og:description'>
    <meta content='' property='og:url'>
    <meta content='' property='og:image'>
    <meta content='summary' name='twitter:card'>
    <meta content='@hajime_mat' name='twitter:site'>
    <meta content='水井真希監督 映画 【ら】' name='twitter:domain'>
    <meta content='@hajime_mat' name='twitter:creator'>
    <!--
    IE support
    -->
    <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <!-- 【ら】用のCSS -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='/assets/jquery.fs.naver.css' rel='stylesheet'>
    <link href='/assets/ra.css' rel='stylesheet'>
  </head>
  <body>
      <nav class="naver">
        <div class="container">
        <a href='/ra/#news' class="scroll">最新情報</a>
        <a href='/ra/yokoku'>予告編</a>
        <a href='/ra/cast'>キャスト</a>
        <a href='/ra/staff'>スタッフ</a>
        </div>
      </nav>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
  </div>
  <footer>
    Copyright &copy; <a href='http://www.mmizui.com'>Maki MIZUI</a> all rights reserved
  </footer>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/assets/jquery.fs.naver.min.js"></script>
  <script lang="javascript" src="/assets/app.js"></script>
</body>

  </html>
  <!-- vim: set ft=html : //-->
