{% extends "ra/base.twig" %}
{% block content %}
<img src='/assets/img/RA_WEBtop.jpg' style='width:100%'>
<section id="news">
  <h2 class="title">
    最新情報
    <small>news</small>
  </h2>
  <ul>
    <li>
      <p>
        <strong class="title">ゆうばり国際ファンタスティック映画祭2014オフシアターコンペティション入選</strong>
        2014年2月27日(木)〜3月3日(火)開催
        <br />
        <a href='http://yubarifanta.com/'>http://yubarifanta.com</a>
      </p>
    </li>
  </ul>
</section>
{% endblock %}
{# <!-- vim: set ft=html : //--> #}
