{% extends "ra/base.twig" %}
{% block content %}
      <link href='/assets/ra-staff/main.css' rel='stylesheet'>
      <div id='container'>
        <div class='head'></div>
        <div class='staff' id='mizui'>
          <div class='staff-name'>監督・脚本</div>
          <div class='name'>水井真希</div>
          <div class='staff-kana'>Maki Mizui</div>
          <div class='staff-description'>
			十代で園子温に師事し、西村喜廣の下で映像制作を学ぶ。 <br>
			映画「奇妙なサーカス」「片腕マシンガール」などに<br>
			現場スタッフとして携わる。<br>
			経験を生かし、幽霊役で映画初出演。グラビアや役者活動に軸を移す。<br>
			主演映画「終わらない青」「イチジクコバチ」「マリア狂騒曲」。<br>
			本作で監督デビュー。<br>
          </div>
        </div>

		<div style="cleaf:both" class="staff2-wrapper">
			<div class='staff staff2'>
			  <div class='staff-name'>プロデューサー・監督補・編集</div>
			  <div class='name'>西村喜廣</div>
			  <div class='staff-kana'>Yoshihiro Nishimura</div>
			  <div class='staff-description'>特殊造型、特殊メイクアップアーティスト、映画監督。
			  劇場映画初監督作『東京残酷警察』が、73もの世界各国の映画祭に出品され、そのうち５つの映画祭で金賞や観客賞を受賞、一躍国際的に注目されカルト的な人気を博す。
			  現在は、樋口真嗣監督実写版「進撃の巨人」特殊造型を担当している。</div>
			</div>
			<div class='staff staff2'>
			  <div class='staff-name'>協力プロデューサー・英語字幕・海外宣伝</div>
			  <div class='name'>マーク・ウォルコウ</div>
			  <div class='staff-kana'>Marc Walkow</div>
			  <div class='staff-description'>ニューヨーク在住。
			  映画祭のコーディネートや海外リリースの協力など、
			  数々の映画作品を世界中に紹介、羽ばたかせている。
			  各国26人の監督からなるオムニバス映画「ABCs of DEATH」をプロデュース。現在シリーズ第2弾を製作中。</div>
		  </div>
		</div>
		<div class="staff2-wrapper">
			<div class='staff staff2'>
			<div class='staff-name'>特別協力</div>
			<div class='name'>アレックス・プロヤス</div>
			<div class='staff-kana'>Alex Proyas</div>
			<div class='staff-description'>エジプト出身、オーストラリア在住のフィルムメーカー。
			１９９０年ゆうばり国際冒険・ファンタスティック映画祭で初監督映画「スピリッツ・オブ・ジ・エア」がヤング・ファンタスティックグランプリ部門審査員特別賞を受賞。
			代表作に「アイ，ロボット」など。</div>
			</div>
			<div class='staff staff2'>
			<div class='staff-name'>特別協力</div>
			<div class='name'>ピーター・ミラー</div>
			<div class='staff-kana'>Peter Miller</div>
			<div class='staff-description'>オーストラリア出身の作曲家、サウンドデザイナー。
			アレックス・プロヤス監督「スピリッツ・オブ・ジ・エア」の音楽を担当。
			ハリウッド映画「ザ・リング」「ランゴ」などにも参加。</div>
			</div>
		</div>
		<div class="staff3-wrapper" id="hajime-wrapper">
			<div class='staff staff3' id="hajime">
			<div class='staff-name'>エグゼクティブ・プロデューサー</div>
			<div class='name'>松本　創</div>
			<div class='staff-kana'>Hajime Matsumoto</div>
			</div>
		</div>
		<div class="staff3-wrapper">
			<div class='staff staff3'>
				<div class='staff-name'>撮影</div>
				<div class='name'>Shu G.百瀬</div>
				<div class='staff-kana'>Shu G.Momose</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>助監督</div>
				<div class='name'>塩崎遵 </div>
				<div class='staff-kana'>Jun Shiozaki</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>スチール</div>
				<div class='name'>アレックス・パイエ </div>
				<div class='staff-kana'>Alex Paille</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>撮影助手</div>
				<div class='name'>小西楊太</div>
			</div>
		</div>
		<div class="staff3-wrapper">
			<div class='staff staff3'>
				<div class='staff-name'>照明</div>
				<div class='name'>太田博 </div>
				<div class='staff-kana'>Hiroshi Ota</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>制作進行</div>
				<div class='name'>船木光 </div>
				<div class='staff-kana'>Akira Funaki</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>宣伝デザイン</div>
				<div class='name'>廣木淳 </div>
				<div class='staff-kana'>Atsushi Hiroki</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>照明助手</div>
				<div class='name'>瀬戸詩織</div>
			</div>
		</div>
		<div class="staff3-wrapper">
			<div class='staff staff3'>
				<div class='staff-name'>録音・整音・効果</div>
				<div class='name'>中川究矢 </div>
				<div class='staff-kana'>Kyuya Nakagawa</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>VFXスーパーバイザー</div>
				<div class='name'>鹿角剛 </div>
				<div class='staff-kana'>Tsuyoshi Kazuno</div>
			</div>
			<div class='staff staff3'>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>制作助手</div>
				<div class='name'>細井健介</div>
			</div>
		</div>
		<div class="staff3-wrapper">
			<div class='staff staff3'>
				<div class='staff-name'>特殊メイク</div>
				<div class='name'>下畑和秀 </div>
				<div class='staff-kana'>Kazuhide Shimohata</div>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>音楽</div>
				<div class='name' style="font-size:95%">BLOOD-STAIND FELLOW</div>
			</div>
			<div class='staff staff3'>
			</div>
			<div class='staff staff3'>
				<div class='staff-name'>特殊メイク助手</div>
				<div class='name'>
				金井聡<br />
				津路温子<br />
				原舞衣<br />
				</div>
			</div>
		</div>
      </div>
{% endblock %}
