{% extends "ra/base.twig" %}
{% block content %}
     <div class='video-container'>
        <iframe  allowfullscreen='' frameborder='0' src='http://www.youtube-nocookie.com/embed/MOp0BRrwtmw?rel=0'></iframe>
      </div>
{% endblock %}
