<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="./test/__Bootstrap.php"
	cacheTokens="true"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="true"
	syntaxCheck="false"
	verbose="true">
	<testsuites>
		<testsuite name="AllClasses">
			<directory suffix="Test.php">./test/case/*</directory>
		</testsuite>
	</testsuites>
</phpunit>
