<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>水井真希公式ホームページ | Maki Mizui Official Site</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!--[if lt IE 9]>
    <script src='/assets/scripts/html5shiv.js'></script>
    <![endif]-->
  </head>
  <body>
    <h1>管理画面 | LOGIN</h1>
    <form id="login_form" action="/login" method="post">
      <input type="password" name="password" />
      <button id="login">ログイン</button>
    </form>
  </body>
</head>
</html>
