{% extends "base.twig" %}
{% block addheader %}
{% endblock%}
{% block content %}
        <div class='row'>
          <div class='span12'>
            <div class='pagetitle'>
              <div class='title-inner'>
                <h1>Contact</h1>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='span12'>
            <section>
              <h1 class='line'>
                <span>コンタクトフォーム</span>
              </h1>
              <p>ご意見、ご質問、メッセージ等々お気軽にお問い合わせください。</p>
              <form action='/confirm' class='form-horizontal' method='post'>
                <fieldset>
                  <div class='control-group'>
                    <label class='control-label'>お名前</label>
                    <div class='controls'>
                      <input class='input-xlarge' id='name' name='name' type='text' value=''>
                    </div>
                  </div>
                  <div class='control-group'>
                    <label class='control-label'>
                      <span class='label label-info'>必須</span>
                      メールアドレス
                    </label>
                    <div class='controls'>
                      <input class='input-xlarge' id='mail' name='mail' type='text' value=''>
                    </div>
                  </div>
                  <div class='control-group'>
                    <label class='control-label'>
                      <span class='label label-info'>必須</span>
                      メッセージ
                    </label>
                    <div class='controls'>
                      <textarea class='input-xlarge' id='message' name='message' rows='4'></textarea>
                    </div>
                  </div>
                  <div class='form-actions'>
                    <button class='btn btn-info' type='submit'>送信</button>
                    <button class='btn' type='reset'>キャンセル</button>
                  </div>
                </fieldset>
              </form>
            </section>
          </div>
        </div>
      </div>
{% endblock%}
