{% extends "base.twig" %}
{% block addheader %}
	<link href='assets/gallery/css/rtg.css' rel='stylesheet'>
	<link href='assets/gallery/css/lightbox.css' rel='stylesheet'>
	<script src='assets/gallery/js/jquery-1.8.2.min.js'></script>
	<script src='assets/gallery/js/rtg.js'></script>
	<script src='assets/gallery/js/lightbox.js'></script>
	<script src='assets/gallery/js/gallery.js'></script>
{% endblock%}
{% block content %}
        <div class='row'>
          <div class='span12'>
            <div class='pagetitle'>
              <div class='title-inner'>
                <h1>Gallery</h1>
              </div>
            </div>
          </div>
        </div>
        <div id='content'>
          <div class='row'>
            <div class='span12'>
              <div class='rtg-gallery' id='myGallery'>
                <div class='rtg-images'>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/1.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/1.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/2.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/2.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/3.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/3.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/4.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/4.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/5.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/5.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/6.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/6.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/7.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/7.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/8.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/8.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/9.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/9.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/10.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/10.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/1.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/1.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/2.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/2.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/3.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/3.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/4.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/4.jpg'>
                    </a>
                  </div>
                  <div data-category='photo'>
                    <a href='assets/gallery/images/lookbook/5.jpg' rel='lightbox[on]' title=''>
                      <img src='assets/gallery/images/lookbook/5.jpg'>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock%}
