{% extends "base.twig" %}
{% block content %}
        <figure id='slider'>
          <div class='row'>
            <div class='span12'>
              <div class='flexslider'>
                <ul class='slides'>
                  <li>
                    <img alt='水井真希' src='assets/images/slider/slide1.jpg'>
                  </li>
                  <li>
                    <img alt='水井真希' src='assets/images/slider/slide3.jpg'>
                  </li>
                  <li>
                    <img alt='水井真希' src='assets/images/slider/slide4.jpg'>
                  </li>
                  <li>
                    <img alt='水井真希' src='assets/images/slider/slide6.jpg'>
                  </li>
                  <li>
                    <img alt='水井真希' src='assets/images/slider/slide7.jpg'>
                  </li>
                </ul>
              </div>
              <span id='responsiveFlag'></span>
            </div>
          </div>
        </figure>
        <div class='row'>
          <div class='span8' id='content'>
            <section>
              <h1 class='line'>
                <span>News</span>
              </h1>
              <ul class='unstyled'>
				{% autoescape false%}
				{{news}}
				{% endautoescape %}
              </ul>
            </section>
            <section>
              <h1 class='line'>
                <span>Profile</span>
              </h1>
              <div class='row'>
                <div class='span3'>
                  <img alr='水井真希' src='assets/images/profile.jpg'>
                </div>
                <div class='span5'>
                  <section>
                    <h1>
                      水井 真希
                      <span class='small'>Maki Mizui</span>
                    </h1>
                    <h2>経歴</h2>
                    <p>
                      十代後半で監督園子温に師事。美術スタッフとして映画業界に入る。
                      <br>
                      その後、西村映造で特殊メイク・造型を学ぶ。
                      <br>
                      経験を生かし、幽霊役で映画初出演。グラビアや役者活動に軸を移す。
                      <br>
                      主演映画「終わらない青」「イチジクコバチ」など。
                      <br>
                      幸の薄い少女役、またはゾンビや妖怪などの人外役が極端に多い。
                      <br>
                      フリーペーパー「月刊水井」を発行中。
                    </p>
                  </section>
                </div>
                <nav class='link'>
                  <a href='/works'>Read more...</a>
                </nav>
              </div>
            </section>
          </div>
          <div class='span4 sidebar'>
            <div class='video-container'>
              <iframe allowfullscreen frameborder='0' src='http://www.youtube-nocookie.com/embed/MOp0BRrwtmw?rel=0'></iframe>
            </div>
            <a class='twitter-timeline' data-widget-id='312940645742428160' href='https://twitter.com/mmizui'>@mmizui からのツイート</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
          </div>
        </div>
      </div>
{% endblock%}
