{% extends "ra/base.twig" %}
{% block content %}
	<img src='assets/img/RA_WEBtop.jpg' style='width:100%'>
      <h2 id='news'>
        最新情報
        <small>news</small>
      </h2>
      <ul>
        <li>
          ゆうばり国際ファンタスティック映画祭2014オフシアターコンペティション入選
          <br>
          2014年2月27日(木)〜3月3日(火)開催
          <br>
          <a href='http://yubarifanta.com/'>http://yubarifanta.com</a>
        </li>
      </ul>
{% endblock %}
