@import "blueprint/grid";
@import "susy";

$total-columns   : 12;
$column-width    : 4em;
$gutter-width    : 1em;
$grid-padding    : 0.5em;

$container-style : magic;
$break : 12;


nav { width: span( 3 of 12); }
